@import 'https://fonts.googleapis.com/css?family=Raleway';

body html{
  margin:0;
  padding:0;
}
.bg {
  background-image: url("../images/indexbg.png");
  background-size:cover;
  background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 height:100vh;
}
@media (max-width: 1028px) {
  .bg {
    height: 100vh;
  }

}
#logo{
border-radius:18px;
margin-left:20px;
}
#head{
	font-family:Raleway;
}
div.container1
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

div.container1 a
{
    color: white;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.pullRight a:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullRight a:hover:before
{
    width: 100%;
}

.logo-div{
  width:100px;
  margin-left:1100px;
  display: inline-block;
  margin-bottom: 300px;
}
#demo{
  position: relative;
  height:300px;
  width:1000px;
  color:#fff;
  left: -250px;
  margin-top: 200px;
}

.time{
  position: relative;
  display: inline-block;
  top: -180px;
  opacity: 0.4;
  margin:auto;
  font-family: Raleway;
  font-size: 70px;
  background-position: center;
  background-color: black;
  opacity: 0.4;
  text-align:center;
  padding: 25px;
  margin-right: 10px;
  left: 180px;
  border-radius: 18px;
  border: 2px solid white;
}

/* Registration */
.reg-home{
  color:#fff;
  font-family: Raleway;
  padding-left:50%;
  margin-bottom: 10%;
}
.regform-container{
  padding-top: 1%;
background: rgba(0,0,0,0.5);
  text-align:center;
  width:400px;
  height:650px;
  position: absolute;
  font-family: Raleway;
  border-radius: 18px;
	margin-left: 38%;
  top:300px;
}

.regform {
  height: 100%;
  border: 1px solid black;
}
.fi{
  height:35px;
  width:70%;
   border-radius:18px;
   padding-left:0%;
   color: black;
   margin-left: 65px ;
}

/* guidelines */
#guide-con{
  height:230px;
}
.guide-con{
  height:420px;
  margin-top:0px;
  margin-left: 0px;
  background-color: rgba(0,0,0,0.5);
  font-family: Raleway;
  color:white;
  text-align: left;
  position: relative;
  width: 1000px;
  padding: 40px;
  border: 3px solid white;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* success */
.ss{
  font-size: 50px;
  font-family: Raleway;
  text-align: center;
}

.foot{
  margin-top: 70px;;
}

.foot1{
  margin-top: 500px;
}

.logo-div{
  width:180px;
  margin-left:40px;
  display: inline;
}
